  .detail-section {
      background-color: #6e6d6a;
      text-align: center;
      vertical-align: middle;
      padding-bottom: 20px;
  }

  .detail-section-title {
    color: white !important;
    font-weight: bold;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .detail-section-table {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .return-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }